@using Shop.Client.Components

@page "/cart"
@attribute [Authorize]

<SetCart @ref="setCart" />
<div class="text-center">
    <h1 class="display-4">Cart</h1>
    <p class="lead">This is your cart. Verify the order items and finish your order.</p>
</div>

@if (_state.order == null && _state.err.message == null)
{
    <div class="text-center alert alert-info">No active order</div>
}
else if (!_state.order.OrderItems.Any() && _state.err.message == null)
{
    <div class="text-center alert alert-@(ordered ? "success" : "info")">
        @(ordered ? "Your order is complete. Enjoy your products!"
            : "There are no items in your order")
    </div>
}
else if (_state.err.message != null)
{
    <div class="text-center alert alert-danger">Something went wrong. @_state.err.message</div>
}
else
{
    <div class="row">
        <div class="col-lg-7 col-md-9 border mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in _state.order.OrderItems)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td>@item.Price</td>
                            <td style="width: 10%">
                                <input @bind-value="item.Amount" @onclick="() => UpdateOrderItem(item)" disabled="@loading" type="number" min="1" id="amount" Class="form-control" onkeydown="return false" />
                            </td>
                            <td>
                                <a @onclick="() => DeleteOrderItem(item.Id)"
                                   style="cursor: pointer;"
                                   class="oi oi-x text-danger float-right py-2"
                                   aria-hidden="true"></a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>Total:</td>
                        <td>@_state.order.Total</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-center my-3">
        <button @onclick="() => ToggleOrderForm()" type="submit" class="btn btn-info">
            <span class="oi oi-cart py-1" aria-hidden="true"></span>
            Finalize order
        </button>
    </div>

    if (showOrderForm)
    {
        <SendOrder Order="order" UpdateOrderEventCallback="UpdateOrder" />
    }
}