@page "/cart"
@attribute [Authorize]

@inject HttpClient Http
@inject AuthenticationStateProvider authProvider

<div class="text-center">
    <h1 class="display-4">Cart</h1>
    <p class="lead">This is your cart. Verify the order items and finish your order.</p>
</div>

@if (order == null && err == null)
{
    <div class="text-center alert alert-info">
        @(loading ? "Loading..." : "No active order")
    </div>
}
else if (err != null)
{
    <div class="text-center alert alert-danger">Something went wrong. @err</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Order ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in order.OrderItems)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Amount</td>
                    <td>@item.OrderId</td>
                </tr>
            }
        </tbody>
    </table>
}